[2021-08-02 13:49] FynnBe opened #1 "nightly builds?"
The generated manifest needs to be kept up to date with zenodo...

[2021-08-02 13:56] FynnBe opened #2 "CI to validate BioImage.IO packages on zenodo"
we currently have a javascript script to scrape zenodo for bioimage.io community records.

To get to a CI running syntax and full tests (test inputs produce test outputs) we need:
- [x] keep scraped collection of zenodo models up to date (see #1 )
- [x] generate a test summary for all models (using bioimageio.spec for static...
- [x] ...and bioimageio.core for full tests -> #7
- [ ] make sure test

[2021-08-02 14:03] FynnBe opened #3 "ISBI2012-2D-AffinityModel not in gh-pages/rdf.yaml"
The isbi 2d affinity model: https://sandbox.zenodo.org/record/886789#.YQf60I5MFjE (linked to as
https://bioimage.io/#/?tags=isbi2012&id=10.5072%2Fzenodo.886788 on bioimage.io) does not show up in the generated collection.

[2021-08-02 14:03] FynnBe commented on #3
[gh-pages/rdf.yaml](https://github.com/bioimage-io/collection-bioimage-io/blob/gh-pages/rdf.yaml)

[2021-08-02 14:03] FynnBe commented on #3
What am I missing?

[2021-08-02 15:16] #3 closed

[2021-08-02 15:20] #1 closed

[2021-08-04 13:59] FynnBe commented on #2
@oeway the CI now also generates https://github.com/bioimage-io/collection-bioimage-io/blob/gh-pages/validation_summary.yaml

entries are keyed by <id>,<python version>,<bioimageio.spec version>,<bioimageio.core version = None for now>
if errors is an empty list the model is valid.

We are thinking of changing `errors` to `static_errors` and add `dynamic_errors` for the tests with test input outpu

[2021-10-20 15:02] FynnBe opened #8 "Stop CI from rerunning tests for published models without conda environment changes"
This might eventually become a problem and until then simply takes unnecessarily long.
A possible implementation might be using cached conda environments and obviously inspect previous CI output.
If the output yaml summaries become too large we might need to switch to a database format or split them into individual files or groups.

[2021-10-20 15:03] #2 closed

[2021-11-02 16:23] FynnBe opened #12 "CI: conda envs sporadically fail to install"
e.g. https://github.com/bioimage-io/collection-bioimage-io/actions/runs/1412847836/attempts/1
[code]

It may be related to the (for the CI experimental) mamba solver.
@constantinpape  any idea?

[2021-11-02 21:36] constantinpape commented on #12
No idea; might be related to mamba ...
To debug, you could check if there's a verbose option in setup-miniconda.

[2021-11-03 09:57] FynnBe commented on #12
that's a great idea. looking at it again I now noticed what I think is the source error in the error log:
```CondaHTTPError: HTTP 503 SERVICE TEMPORARILY UNAVAILABLE for url <https://conda.anaconda.org/conda-forge/linux-64/repodata.json>```

 It seems to be a known issue for which the solution is to wait: https://github.com/conda/conda/issues/7800

It'd be great if we could just retry in the CI an

[2021-11-03 09:58] FynnBe commented on #12
Let's see how often this really happens. Currently the CI runs twice a day, so if it occasionally fails it's not too bad.

[2021-11-26 14:31] FynnBe opened #13 "Add test-model statistics to CI log and gh-pages output"
would be nice to easily see how many models passed the tests

[2021-11-30 16:32] constantinpape opened #16 "Do not run tests for keras models"
We discussed that validating keras models is currently not feasible due to versioning and other problems.
Instead we should only check tensorflow for now, but we need to start being aware of the tensorflow version.

[2021-11-30 16:35] constantinpape commented on #16
(we will still keep support for keras as a weight formats because for keras and tf versions >= 2 everything should be easier, but unfortunately almost all models we have for keras/tf are stuck at v1)

[2021-12-03 09:02] constantinpape opened #26 "Design ideas for improving the pull request process"
We eventually want a single PR per model that is added to the model-zoo. I think to implement this model, we should change the system s.t. the PR creates a single file. This would avoid merge conflicts.

We could still consolidate it into a single file later (e.g. another CI puts the merged models into the main yaml file periodically.)

[2021-12-03 09:24] FynnBe commented on #26
👍 Thus actually mirrors what we do for the test summaries already

[2021-12-03 12:59] oeway commented on #26
I think it's a good idea, caching this file will also allow us to, remember the current zenodo version and add additional tags etc.

[2021-12-03 15:33] FynnBe opened #27 "gh-pages summary folder is gone"

[2021-12-15 19:43] #27 closed

[2021-12-15 21:14] FynnBe commented on #26
#29 implements this

[2021-12-15 21:14] #26 closed

[2021-12-16 08:48] constantinpape opened #40 "Post action fails"
I have merged #37 but it fails in the post merge actions:
https://github.com/bioimage-io/collection-bioimage-io/runs/4544994159?check_suite_focus=true

[2021-12-16 09:39] FynnBe commented on #40
fixed by https://github.com/bioimage-io/collection-bioimage-io/commit/784b6fb6802866a97f3e0afe0ddbfbbc8a5b02a6

[2021-12-16 09:39] #40 closed

[2021-12-16 11:13] #12 closed

[2021-12-16 11:13] #8 closed

[2021-12-17 15:16] constantinpape opened #54 "External CI integration"
We want to integrate external CI results here. The main use case is to run new models with CI defined by the partners, e.g. to check if the model runs in deepimageJ or ilastik. For now, we have discussed two potential ideas for integration:
1. The partner orgs make PRs to this repository (collection-bioimage-io) to communicate their CI status
2. Partners define where the CI results are stored on t

[2021-12-17 15:19] constantinpape commented on #54
cc @oeway @FynnBe

[2021-12-17 18:37] esgomezm opened #55 "Questions about PR process"
Hi!

As discussed during the meeting, I let here some questions:
- After uploading a model, if it fails, as the person who is contributing the model, how can I update the package to curate it? Should always be the same person/zenodo user (I think we already discussed this and the answer was yes)?
- Once the PR is accepted, there's a `manifest.json` file being updated. Where is it now after migrati

[2021-12-18 10:29] constantinpape opened #56 "Only download relevant weight format in dynamic tests"
to decrease download times. See https://github.com/bioimage-io/spec-bioimage-io/issues/351 for details.

[2021-12-18 10:43] constantinpape commented on #55
Thanks for the questions, Esti! And we def. need to document all of this once it's fully working.

For "big" changes like updating the weights or test data the model needs to be updated on zenodo. And indeed this needs to be done with the same zenodo account. For smaller changes that can be done purely in the rdf we are working on a mechanism to over-ride the RDF fields on github, so small mistake

[2021-12-18 15:38] FynnBe commented on #54
Having in mind how this collection repo is handling this atm, this could roughly look like this:

[only option 2.] partner collection rdf specifies a summary folder: e.g. in  ilastik collection config: https://github.com/ilastik/bioimage-io-models/blob/fa5eb8c22c93d915c6df079f5269687b618707b9/collection.yaml#L31
[code]
the content of the validation summary folder would be similar to https://github

[2021-12-18 17:55] FynnBe commented on #55
it is now deployed to the gh-pages branch as "rdf.json": https://github.com/bioimage-io/collection-bioimage-io/blob/gh-pages/rdf.json (this is not up to date yet and contains many resources that may not have passed validation yet)

[2021-12-18 17:56] FynnBe commented on #55
in the above mentioned json (or yaml equivalent) only accepted resources are included.

[2021-12-18 17:57] FynnBe commented on #55
this will be minutes

[2021-12-20 12:32] FynnBe opened #67 "github content creation block"
opening too many PRs in a short period of time leads to
```Error: You have exceeded a secondary rate limit and have been temporarily blocked from content creation. Please retry your request again later.```
(from https://github.com/bioimage-io/collection-bioimage-io/actions/runs/1601985630)

[2021-12-22 15:57] FynnBe commented on #56
should be fixed by https://github.com/bioimage-io/core-bioimage-io-python/pull/195 ...

[2021-12-22 15:58] FynnBe commented on #67
should be fixed by creating PRs sequentially: https://github.com/bioimage-io/collection-bioimage-io/blob/ce7358fa5a5fed209fa484ec0358cab12fd466d6/.github/workflows/auto_update_main.yaml#L46

[2021-12-22 15:58] #67 closed

[2021-12-23 15:11] #56 closed

[2021-12-25 14:14] oeway opened #121 "Github API rate limit exceeded"
When running `python scripts/update_known_resources.py collection` locally, I got many rate limit error from github:
[code]

Although we can set a credential inside the CI to increase the rate limit, a smarter implementation should perhaps do a so-called "conditional request": https://docs.github.com/en/rest/overview/resources-in-the-rest-api#conditional-requests . For example, we can store the la

[2021-12-26 23:49] #121 closed

[2022-01-03 11:25] FynnBe opened #211 "Inconsistent generated rdf.yaml vs collection spec"
the generade rdf.yaml collection lists resources under the `attachment` key, while the collection spec defines the resource fields `application`, `model`, `dataset`, `notebook` under root. Adding anything under `attachment` is not invalidating the collection rdf, but if validating it (which we don't directly do) would ignore anything under `attachment`, while it would validate content under the re

[2022-01-03 11:44] oeway commented on #211
Letting the type keys spread under the root won't allow the website implement a type-agnostic collection display, so I would rather change the collection spec. And absorb the collection spec as part of the general RDF to enable recursion of RDFs.

[2022-01-03 21:29] oeway opened #213 "Skip creating PR for items from community partners"
I am now thinking that maybe we don't really need to create any PR for items coming from the partners / GitHub. If we consider these are trusted partners, we can basically  pull them directly and render directly to the website.

This will be appropriate if we assume the partners will do their job in validating the items that goes to their repo. The approval process of the collection repo will be d

[2022-01-04 08:57] FynnBe commented on #213
This might lead to a lot of "failing" resources on the website. If we filter these out by default as discussed in previous meetings I don't see a problem if we keep running the validation here for consistency

[2022-01-04 09:36] oeway commented on #213
To clarify, we still do validation here for all the resources displayed on the site but we don't do approval and PRs for items from partners and we don't save them in the collection folder in the main branch. The approval process is done by the partners, and there we also have CI running even with more consumer specific validation and tests.

[2022-01-13 00:33] FynnBe opened #220 "validation summaries are not yet included in final collection RDF"
the summaries are already deployed to gh-pages and the validation is also taking place in the PRs. Only including it in the final collection to render on the website is not working yet.

cc @oeway @constantinpape

[2022-01-13 08:34] FynnBe commented on #220
fixed

[2022-01-13 08:34] #220 closed

[2022-01-13 08:36] oeway commented on #220
@FynnBe Let me know when you fixed the CIs, I might need to make some changes in the website.

[2022-01-13 08:38] FynnBe commented on #220
@oeway yeah... fixed 🎉

[2022-01-14 08:47] constantinpape opened #221 "PR for new model is not submitted"
I uploaded a new model yesterday: https://zenodo.org/record/5847356#.YeE4c_so8UE
But it seems like the PR for it is not appearing here.

[2022-01-14 09:17] FynnBe commented on #221
Cron schedule was deactivated... Should be fixed now

[2022-01-14 09:18] #213 closed

[2022-01-14 09:19] FynnBe commented on #221
I suppose you were expecting #222

[2022-01-14 09:19] #221 closed

[2022-01-14 09:31] constantinpape commented on #221
Yes, exactly.

[2022-01-15 07:07] constantinpape opened #235 "Update tags in covid if model"
The covid if model has no tags due to the issues with tags in the uploader.

We should test adding the tags "on the fly" in the collection to see if this over rides the tags from the rdf.yaml as it's supposed to.

This is the model:
https://github.com/bioimage-io/collection-bioimage-io/blob/main/collection/10.5281/zenodo.5847355/resource.yaml

[2022-01-15 09:30] constantinpape opened #238 "Improve dependency handling"
The dependency handling in https://github.com/bioimage-io/collection-bioimage-io/blob/main/scripts/static_validation.py#L27-L113 is a bit haphazard. I think we should use the same logic for every weight format:
- first check if there is a (weight specifc) dependency file and try to set up the environment from it
- if there is none (or it cannot be set up for some reason) use the default environmen

[2022-01-15 09:34] constantinpape commented on #16
Fixed in 7c7e05b

[2022-01-15 09:34] #16 closed

[2022-01-15 09:36] constantinpape opened #240 "Reactivate keras validation"
Once we have better dependency handling, see #238.
To validate keras models, the keras version needs to be specified via `dependencies`
We could also think about adding a (optional) `keras_version` field to the weights that is used in case the dependencies are not specified:
 https://github.com/bioimage-io/spec-bioimage-io/issues/374

[2022-01-15 09:38] constantinpape commented on #238
We may also want to add keras and pytorch version fields, so that in case we don't have `dependencies`:
- if there is a `<FRAMEWORK>_version` field we install this one in the default env
- otherwise we use a global default version, which can then also be documented

[2022-01-15 13:18] constantinpape opened #241 "Wrong model name"
The model name for https://github.com/bioimage-io/collection-bioimage-io/blob/main/collection/10.5281/zenodo.5817052/resource.yaml is wrong: this is not a mitochondria segmentation model, but a neuron segmentation model.
See
![image](https://user-images.githubusercontent.com/4263537/149623091-9f93aa0b-cb74-4afa-a332-ac4a4ff0d772.png)

This looks pretty bad because it is the first model on the webs

[2022-01-18 11:33] esgomezm commented on #241
Ups! I was confused with the data for the 3D UNet. I should be able to update it by clicking on the edit button, but I don't see the model on the webpage

[2022-01-18 12:46] constantinpape commented on #241
Yes, @oeway is aware of that issue and currently fixing it.

[2022-01-18 13:45] esgomezm commented on #241
So, the page works and I can click on edit, but then, i cannot update the model card, at the end of the process. It just allows me to upload a new deposit

[2022-01-18 13:46] oeway commented on #241
OK, I will check that.

[2022-01-18 20:30] oeway commented on #241
@esgomezm @constantinpape I just did a preliminary fix for the edit button, but I cannot test it since it requires existing items. could you try with 0.4.5 (refresh here: https://bioimage.io/#/about until you see 0.4.5)?

[2022-01-18 21:34] constantinpape commented on #241
Yes, it's working now :).

[2022-01-20 10:27] constantinpape commented on #235
The tags are updated (via edit button on the website). The update via edits here is also working; Wei has added the app link to the livecell model with it.

[2022-01-20 10:27] #235 closed

[2022-01-21 10:27] FynnBe commented on #240
`dependencies` was moved to the pytorch state dict weights entry.. `tensorflow_version` is already an optional field for keras weights entries.  Let's keep the discussin in https://github.com/bioimage-io/spec-bioimage-io/issues/374

[2022-01-21 13:16] oeway opened #257 "Test summary for the website"
The CI generates validation summary in gh-pages, however, I am a bit confused now because I can only find summaries labeled as `static` or `latest_static`. @FynnBe Where are the dynamic ones?

Since we have 1 subfolder per version and the summaries are contained in the subfolder, shouldn't it only contain a single static summary?

And for the dynamic summaries, can we have 1 file per environment c

[2022-01-21 14:49] FynnBe commented on #257
on the name:
the dynamic test is also validation: we validate that the test output can be reproduced... but if you'd prefer test_summary we can totally change it!

This change means that we always have to resave the rdf.yaml to insert the summary there. If we do that we don't have to save any of the individual validation summary files at all...

I see a remaining issue that is related to this with

[2022-01-21 15:45] FynnBe commented on #257
There are not generated if the latest static one has an error....

[2022-01-21 15:50] FynnBe commented on #257
about the `steps`:
some tests may depend on other tests (like dynamic ones on latest static), but they are not necessarily ordered. Should we use the name as a dict key instead similar to what we have now? and maybe call it `tests` instead of `steps`?

[2022-01-21 15:59] FynnBe opened #258 "Validation broken due to invalid generated rdf.yaml"
For each resource we generated an rdf.yaml file in gh-pages/resources/...
But these rdf.yaml files are not valid RDFs due to resolved paths where we expect local relative paths. We either have to
 - change the spec to make them valid
 - or stop treating them as real RDFs (which at this point would be very confusing) and validate the original source (with updates from the collection entry (which we

[2022-01-21 16:06] oeway commented on #257
hi, for the name test summary, I think it will be more general for cases when a consumer add custom tests that are not necessary validations.

Sounds good!

Why not valid? Could you elaborate ? I tried one before and it was valid.

I'd prefer a list since on the website we want a ordered list display since we don't want to see dynamic tests showing before static tests. Ideally, the CI should figur

[2022-01-21 16:14] oeway commented on #258
I think change the spec would make sense here. It's a non-breaking change, right? Could you give some examples on which fields only accepts relative path? Have a unified way of handling URI/path would be good in general. We just need to make sure the bioimageio.core also resolve absolute path.

[2022-01-21 17:35] FynnBe commented on #257
relative local paths either are converted to urls or kept and thus point to files that don't exist.

sounds good 👍

[2022-01-22 10:07] constantinpape commented on #258
I don't fully understand this issue yet.
@FynnBe can you please point to what exactly is the issue with the generated rdf, i.e. point to a line in one of the files?
Otherwise I agree with Wei, it sounds like we should fix this on the spec level somehow.

[2022-01-24 15:47] FynnBe commented on #258
my bad, we changed that already... Maybe I was mistaken that this is the problem...

[2022-01-24 16:01] #258 closed

[2022-01-24 16:04] oeway commented on #241
@esgomezm and @constantinpape Do we have a plan on updating this model, I still see "mitochondria" in the model description.

[2022-01-24 16:25] constantinpape commented on #241
As we discussed during the meeting @esgomezm wanted to check if update via the upload still works.

[2022-01-25 20:40] FynnBe commented on #257
https://github.com/bioimage-io/collection-bioimage-io/pull/262 should implement all changes discussed here...

[2022-01-25 20:40] #257 closed

[2022-01-25 20:40] FynnBe commented on #211
we solved this with the collection RDF 0.2.2

[2022-01-25 20:40] #211 closed

[2022-01-26 14:46] esgomezm commented on #241
Hey! I'm trying model edition and it goes well until the update button but then it complains about a field called `rdf_source`.
![Screenshot 2022-01-26 at 14 43 41](https://user-images.githubusercontent.com/43643518/151184249-5e998ebd-3ef5-4baf-be1d-e8d43509ff28.png)

![Screenshot 2022-01-26 at 14 43 24](https://user-images.githubusercontent.com/43643518/151184201-733457f8-4724-4150-acaa-27f8d61ff

[2022-01-26 20:35] oeway commented on #241
@esgomezm Thanks for the report, it should been fixed now in 0.4.7 (https://bioimage.io/#/about), please refresh the page and try it again.

[2022-01-27 14:10] esgomezm commented on #241
Done! now should I see any PR?

[2022-01-27 14:17] constantinpape commented on #241
Yes, I think it's this one: https://github.com/bioimage-io/collection-bioimage-io/pull/265

[2022-01-28 15:37] constantinpape opened #269 "Enable a "beta" setup to run in development without breaking the website or the model PRs"
Probably the easiest is to create a personal fork and set up the correct CI tokens.
cc @FynnBe @oeway

[2022-01-30 10:50] constantinpape commented on #241
I have merged #265 and this is fixed now.

[2022-01-30 10:50] #241 closed

[2022-02-01 21:24] FynnBe commented on #269
I have set up a fork (not fully working yet, I went straight away to develop on its main...)
It will be up and running soon. Feel free to make PRs there if you don't want to set up your own fork. Especially right now as I am developing there and touching a lot of the code this might also avoid merge conflicts...

[2022-02-01 21:24] #269 closed

[2022-02-03 00:07] FynnBe opened #275 "Open new auto-update PR after auto-update PR was closed"
@FynnBe See here: https://github.com/bioimage-io/collection-bioimage-io/runs/5029116108?check_suite_focus=true This is the action trigger by my close action above, however, it doesn't give me a new PR.

_Originally posted by @oeway in https://github.com/bioimage-io/collection-bioimage-io/issues/264#issuecomment-1027359005_

I think the issue here was that the branch still existed. If the auto-upda

[2022-02-03 00:47] FynnBe commented on #275
https://github.com/FynnBe/collection-bioimage-io/commit/5111dc28ff1e68e98732b85cbce728d4405ee69f should solve this

[2022-02-05 10:39] constantinpape commented on #54
We had a long discussion with @FynnBe and @oeway on this yesterday. I can't summarize all of it here, but my two take aways are: we probably need to iterate on this a bit before we can find a really good solution and it would be good to start laying out potential high-level designs here. (And then identifying potential issues).
A possible design I could see working (pretty close to what @FynnBe ha

[2022-02-06 21:53] FynnBe commented on #54
Together with @oeway I had a closer look at the workflow dispatch funcitonality of github workflows and it turns out to be fairly straight forward to trigger a workflow in another repository. I am experimenting with that already (see [here](https://github.com/ilastik/bioimage-io-resources/blob/main/.github/workflows/validate_bioimageio_resources.yaml)). The only thing the partner needs to do addit

[2022-02-09 15:33] FynnBe opened #280 "Invalid deps for accepted resource"
https://github.com/bioimage-io/collection-bioimage-io/blob/3caf9e0bee8b6616ae01739c22bdddd831938052/resources/10.5281/zenodo.5764892/10.5281/zenodo.5764893/rdf.yaml#L82

points to an invalid [environment.yaml](https://zenodo.org/api/files/8137780b-871f-4d7e-b130-a63847ece4d8/environment.yaml)

Not sure how we didn't catch this earlier, but I encountered it on my fork...

[2022-02-09 15:33] FynnBe commented on #280
the problem with the env file is that dependencies is not a list

[2022-02-09 20:59] constantinpape commented on #280
Yes, this was an issue in all my models. Indeed it's weird that the CI hasn't caught it before.
Should be fixed by #281. I will update the other models once we are sure that this one works.

[2022-02-10 10:17] #275 closed

[2022-02-10 10:18] #280 closed, assigned to constantinpape

[2022-02-22 13:28] FynnBe opened #293 "Immortal gh workflow run"
(on fork https://github.com/FynnBe/collection-bioimage-i)
Even though I "successfully canceled" this run: https://github.com/FynnBe/collection-bioimage-io/actions/runs/1880987270
it keeps being "in progress" (3h now).
Scheduling another run (in this case manual dispatch) as suggested in https://github.community/t/cant-cancel-github-action-workflow/16060/29 does not help either.

I hope we can avoi

[2022-02-24 14:08] constantinpape commented on #238
This is done.

[2022-02-24 14:08] #238 closed

[2022-02-24 14:13] constantinpape opened #294 "Nucleus model not available on the website"
The nucleus segmentation model (https://zenodo.org/record/6028056#.YheQ5hso8UE) is currently not available on the website, although it is accepted (and it has been listed before):
https://github.com/bioimage-io/collection-bioimage-io/blob/main/collection/10.5281/zenodo.5764892/resource.yaml

It should e.g. show up when looking for the "nuclei" tag:
![image](https://user-images.githubusercontent.co

[2022-02-24 14:45] oeway commented on #294
For some reason this item (10.5281/zenodo.5764892) is not in the generated summary on gh-pages so that explains why the website did not show it. @FynnBe

[2022-02-24 14:47] FynnBe commented on #294
I'm on it...

[2022-02-24 14:48] constantinpape commented on #294
Something that might be relevant here: the model currently fails static validation (this is due to the new check for min shape and halo that we have introduced; in hindsight it was not a good idea to do this independent of model versioning....)
I wanted to update it via the website to fix this, but maybe it's not shown due to this issue?

[2022-02-25 14:54] FynnBe opened #295 "Refresh old auto-update PRs"
close and manually link to newer PRs that will be created by the current CI (which will do the linking in these cases from now on).

old PRs:
 - #292
 - #289
 - #285
 - #284
 - #282
 - #281
 - #272
 - #267

[2022-02-25 20:11] constantinpape opened #303 "Updating a model does not trigger collection PR"
![image](https://user-images.githubusercontent.com/4263537/155792323-13918c42-c0bd-4885-a384-2623674bc0b1.png)

[2022-02-25 21:30] FynnBe commented on #303
should be fixed by https://github.com/bioimage-io/bioimage.io/commit/4ec005dd1456dd4dfbc581f880f984917b8c9384
please try again in a little while

[2022-02-28 10:13] #295 closed

[2022-03-01 09:49] constantinpape commented on #303
The update is still not triggered: now there isn't an error message after the upload any more
![image](https://user-images.githubusercontent.com/4263537/156145958-406eed3e-705c-4b00-91b4-1d0a97a31c36.png)
But the PR is not triggered in https://github.com/bioimage-io/collection-bioimage-io/pulls

[2022-03-01 14:24] oeway commented on #303
This is because the change of the workflow name as @FynnBe already try to fix, however, changing that in the bioimage.io repo won't be automatically deployed to netlify, we need to either redeploy the netlify, or simply change the workflow name to `auto_update_main.yaml`. For now, I would rather change the workflow name.

[2022-03-01 15:07] FynnBe commented on #303
what's so hard about redeploying the website? And how are the changes that I made for the id links deployed, but the name change is not?

[2022-03-01 15:38] constantinpape commented on #303
Sorry, I probably miss some context about the details, but is there a reason why we have changed the wf name and can we just fix it by changing the name back or will this cause other issues?

[2022-03-01 15:40] FynnBe commented on #303
I can of course change it back, but for the time being we can also simply trigger the workflow a few times manually or increase the cron job so we pick up on new resources timely...
It should not take too long to redeploy the website I suppose. @oeway maybe you can document how the website deployment works, so we can do this more easily in the future?

[2022-03-01 15:41] constantinpape commented on #303
Yeah, it would be good to document this!

[2022-03-01 16:30] oeway commented on #303
It's not the website, it called netlify functions. It has a different development workflow as the website and is entirely manual at the moment. I need to setup the environment locally and get some credentials. I do have limited bandwidth at the moment, but it's not about that. I am thinking that the overall strategy we take should be more conservative to make sure we don't break the website. The t

[2022-03-01 17:24] constantinpape commented on #303
Thanks for clarifying @oeway. I agree that we should aim for more incremental changes and smaller PRs.
So let's change the workflow name back, or is there anything crucial depending on this on the backend part, @FynnBe?

Ok, that would be great, since there will certainly be the need to redeploy this at some point.

[2022-03-01 18:46] FynnBe commented on #303
sure, I'll change the file name then...

[2022-03-01 19:54] constantinpape commented on #303
Now we're back to this issue:
![image](https://user-images.githubusercontent.com/4263537/156239017-40f5d67a-1be4-498e-aef7-339c909e66cb.png)

[2022-03-01 20:07] FynnBe commented on #303
I don't understand how the website is updated by pushes to the bioimage.io repository, but at the same time also is not...

[2022-03-01 20:12] FynnBe commented on #303
hope this has fixed it: https://github.com/bioimage-io/bioimage.io/pull/247

[2022-03-01 23:24] oeway opened #309 "rdf.yaml is not updated on gh-pages"
We need to also save the summary file as `rdf.yaml` as before.

[2022-03-01 23:33] oeway opened #310 "Set the `source` URL in the generated RDF"
The downloader failed to work due to missing source field in the updated rdf.yaml.

In the updated rdf.yaml file, for example: https://bioimage-io.github.io/collection-bioimage-io/rdfs/10.5281/zenodo.5847355/5874728/rdf.yaml  we need to set the `source` field or the `rdf_source` field to the original zenodo rdf url, without that, there is no way to infer the base URL for downloading the weights fi

[2022-03-02 08:02] FynnBe commented on #310
@oeway should we instead populate the updated rdf with urls only to nothing else needs to be resolved? (I intended that that was already happening...)

[2022-03-02 08:17] oeway commented on #310
I would suggest we take it easy change one thing at a time, I don't know whether it will cause further issue. It might break stuff since when since after downloading the file we need to change it back to relative path. Again the top priority is to restore the website.

[2022-03-02 08:24] FynnBe commented on #310
for the weights source we even state "Preferably a url." https://github.com/bioimage-io/spec-bioimage-io/blob/gh-pages/weight_formats_spec_0_4.md

[2022-03-02 09:36] FynnBe commented on #310
Are you sure URLs wouldn't already work? some fields have always allowed path or URL, so the downloader should be able to deal with it. The downloader itself is also easy to update, is it not? No netlify deployment, etc..

I'd rather put in the URLs right away, as this is just the most straight forward solution. The updated RDFs in gh-pages should be valid and with relative paths they are missing

[2022-03-02 09:49] oeway commented on #310
As I said, I don't know it will not break other stuff.

I don't really care how we fix it, I just want to fix the website as soon as possible. The calculation for me is simple, it takes a minutes to add a source field and the downloader will work as before. And my suggestion is to restore first, then optimize. I have limited time on this today. But if you want to go for the harder way, I have no o

[2022-03-02 12:02] constantinpape commented on #294
This is fixed now.

[2022-03-02 12:02] #294 closed

[2022-03-02 12:03] constantinpape commented on #303
It's working now

[2022-03-02 12:03] #303 closed

[2022-03-02 12:17] #309 closed

[2022-03-02 14:54] FynnBe commented on #310
(works as is with urls in the updated rdf and rdf_source pointing to the updated rdf on colleciton's gh-pages)

[2022-03-02 14:57] FynnBe commented on #310
pushed the partial reset also here https://github.com/bioimage-io/collection-bioimage-io/commit/f9918f68ae69f32ecfaf1c041ab1ab3b950a3dce

[2022-03-03 09:29] oeway opened #319 "Cover image URL not resolved"
Some cover images are broken because the URL to zenodo are not resolved in the generated summary: https://bioimage.io/#/?id=10.5281%2Fzenodo.5914248

@FynnBe Could you please look into this?

[2022-03-03 10:16] FynnBe commented on #319
reset: https://github.com/bioimage-io/collection-bioimage-io/commit/45031581b4f7ca96d18d7ef3cf84c4c5f5607622

[2022-03-03 12:06] FynnBe commented on #319
ah, the issue is that it does not pass static validation and therefore does not resolve the original relative file paths to urls:
https://github.com/bioimage-io/collection-bioimage-io/blob/gh-pages/rdfs/10.5281/zenodo.5914248/5914249/test_summary.yaml

[2022-03-03 13:40] oeway opened #320 "Wrong resource name generated"
Many of the deepimagej resources are generated with the collection name

For example: https://bioimage.io/#/?type=all&id=deepimagej%2F3dunetzerocostdl4mic

![Screenshot 2022-03-03 at 14 40 03](https://user-images.githubusercontent.com/478667/156576009-193c334b-4987-4822-99ca-a07e1314baad.png)

[2022-03-03 14:11] oeway commented on #319
Can we make the generation of URLs independent from the validation?

[2022-03-03 14:53] FynnBe commented on #319
With invalid data it is difficult to know which field to turn into a URL and which not. It surely is possible, but I am not sure this is worth our time right now, while we should just fix the static validation errors anyway...

[2022-03-03 15:16] oeway commented on #319
Well, this is rather important for us, it makes the website looks broken for the moment. And we know exactly which fields are needed for the website to display correctly. Basically two fields: `rdf_source` and `covers` are always needed to be rendered as card.

And I am not sure if it's only about fixing the static validation error. In an ideal world yes, but in reality, we are changing the valida

[2022-03-03 15:54] FynnBe commented on #320
The deepimagej collection RDF in invalid. I'll make a PR with some fixes...

[2022-03-03 16:31] FynnBe commented on #319
we should
- [ ] fix partner collections (also see https://github.com/bioimage-io/spec-bioimage-io/issues/413)
- [ ] fix static validation for currently accepted resources
- [ ] attempt to resolve essential fields even if validation fails (`rdf_source`, `covers`, `name`, ...?)
- [ ] hide resources from bioimage.io that don't have valid essential fields
- [ ] hide (or mark) resources from bioimage.i

[2022-03-07 14:17] FynnBe opened #325 "need to pin python for pip environments"
that is the problem. when I try to install the exact same test environment due to the two step process of installing `pip` and `bioimageio.core` and then using pip to install all pip dependencies, python get's resolved to version 3.10...

_Originally posted by @FynnBe in https://github.com/bioimage-io/collection-bioimage-io/issues/324#issuecomment-1060731230_

cc @constantinpape

[2022-03-07 14:18] uschmidt83 commented on #325
The conda environment needs a Python version, or one should be able to pin it, right?

[2022-03-07 14:19] FynnBe commented on #325
yes, that is possible. The question is how we infer the correct pin

Is it legal in a pip requirements.txt to specify python (with version)?

[2022-03-07 14:20] uschmidt83 commented on #325
No, I suggest like this: https://stackoverflow.com/a/59047379

[2022-03-07 14:20] uschmidt83 commented on #325
This is not only for pip, but for the whole conda env, or not?

[2022-03-07 14:25] uschmidt83 commented on #325
This also implies that `bioimageio.core` has to work with potentially older Python version, such as 3.7.
It currently is Python 3.7+ if understand correctly.

[2022-03-07 14:25] FynnBe commented on #325
Yes, we need to pin the python of the conda environment. However we allow to specify dependencies with pip, as you do in the stardist model: `dependencies: pip:requirements.txt`
From this we then create a minimal conda environment that includes these pip dependencies, such that internally we only have to deal with conda environments and not pip.
Therefore I am looking for a way to pin python in th

[2022-03-07 14:26] FynnBe commented on #325
correct

[2022-03-07 14:27] FynnBe commented on #325
I would like to avoid an additional field: `python_version` that one needs to specify when using pip dependencies... This field would be confusing for conda enviroments where python should be pinned in the env file

[2022-03-07 14:28] constantinpape commented on #325
Is there a chance to switch to conda in stardist? I don't see a reliable way to specify an environment for an old tf version since pip does not allow pinning the python version, see https://stackoverflow.com/questions/56713744/how-to-create-conda-environment-with-specific-python-version/59047379#59047379

[2022-03-07 14:34] FynnBe commented on #325
did you link the correct issue?
maybe something like https://stackoverflow.com/questions/11889932/specify-python-version-for-virtualenv-in-requirements-txt ?

If we don't want to completely drop pip support, we could check for a specific comment (comments are allowed: https://pip.pypa.io/en/latest/reference/requirements-file-format/) that tags the python version

[2022-03-07 14:41] FynnBe commented on #325
alternatively we might be able to check the pin for pip in the requirements.txt. At least it does not throw an error to install pip with pip, if there is no version clash:
[code]

[2022-03-07 14:44] constantinpape commented on #325
Yes, this is the exact issue I linked to ;). (Just at some fragment that didn't make much sense.)

Yea, we can think about this. My initial thought is that we should drop pip support fully, but we should discuss this with others before moving ahead with any of this.
For now it would be easiest to move ahead with conda for stardist models. I have created this manually for our test upload now.

[2022-03-07 14:49] FynnBe commented on #325
@oeway @esgomezm @tomburke-rse @carlosuc3m quick question: Can we drop support for pip as a dependency manager as it does not allow to pin the python version (in a straight-forward fashion)?
Note that it is always possible to define a conda environment with a pip section (which is how we tried to deal with pip's requirement.txt files, but this should better be done manually, see above discussion).

[2022-03-07 15:00] uschmidt83 commented on #325
I first interpreted this that we should put stardist on conda-forge, which is not easy and I don't really want to do it. However, napari wants all plugins to be on conda-forge and they'll try to do it (see [PR](https://github.com/conda-forge/staged-recipes/pull/17766)).

Upon reading the rest of the posts here, I think you meant that we write a conda environment file (instead of pip's requirements

[2022-03-07 15:03] constantinpape commented on #325
Yes, exactly that's what I meant. Sorry I was not quite precise here; of course putting StarDist on conda-forge is not necessary for our purposes since we can just specify pip dependencies in the conda env file. I have prepared an example for this already, and will send you the link as soon as we have made sure that it actually works.

Btw having StarDist on conda-forge would be great in general :

[2022-03-07 18:41] uschmidt83 commented on #325
I'd also be happy with pointing me to the code/docs where I can read about this.

[2022-03-07 19:23] constantinpape commented on #325
Yes, that's sufficient in terms of dependencies; should we also add stardist as a dependency though in order to run the postprocessing? (It's not strictly needed to pass the tests, but I would still add it)

Also, you need `name` and `channels` (should only contain conda-forge) as well, but I assume you just left that out for brevity.

[2022-03-07 19:40] constantinpape commented on #325
In general conda-forge is preferable to defaults since it is usually more up-to-date and does not suffer from the commercialization conda issues. (But in this case it does not matter, so only default would be fine.)

[2022-03-07 19:55] uschmidt83 commented on #325
In order to run the model on your end, it should only need the tensorflow dependency (I think).
All the other dependencies are of StarDist itself and not really relevant. I'm a bit confused what the semantics of that environment are. What do you mean by "documentation"?

But how do you know which version of `bioimageio.core` is compatible for the model spec? I guess you assume that the CI always r

[2022-03-07 20:06] FynnBe commented on #325
well, if a user wants to use this model beyond the current bioimageio model zoo test, i.e. with the stardist postprocessing these dependencies would be needed. But in the context of bioimagieo we do not (yet) support this postprocessing. Maybe in the `documentation` or `description` content the postprocessing is referenced...? Or just for us in case we'll work on custom postproessing for this mode

[2022-03-07 20:08] constantinpape commented on #325
We can also keep it minimal and only include tensorflow.

I suggested to add StarDist since you had CSBDeep in there already and adding a requirement file that sets up the full stardist compatible env would be a legit use of it. There is no 100% defined semantic to the environment file yet; it SHOULD list all requirements for the model, which MUST include the strict requirements for running the mo

[2022-03-07 20:19] uschmidt83 commented on #325
That goes back to [code that Martin originally wrote](https://github.com/stardist/stardist/pull/149/commits/75f70829bf163a42c1a5a38ae0d4f65a923e64a8), before we even used `bioimageio.core`.

Ok, I'll simply list `stardist>=X.X.X` as a dependency, which should be sufficient then.

Ok, but it can lead to bugs if a user were to use the environment file. I can do this automatically as long as the vers

[2022-03-07 20:41] uschmidt83 commented on #325
Ok, does this look good?

[code]

[2022-03-07 21:18] uschmidt83 commented on #325
https://github.com/stardist/stardist/commit/825c41b0c191bd728deca8cabca7ab3884b02100

[2022-03-07 22:25] constantinpape commented on #325
Yes, this looks good!

[2022-03-08 15:09] esgomezm commented on #325
It goes with the python version already installed in the collab session...

[2022-03-11 19:40] FynnBe commented on #320
this will fix it: https://github.com/deepimagej/models/pull/39

[2022-03-23 19:58] FynnBe commented on #319
https://github.com/bioimage-io/collection-bioimage-io/pull/377 ensures that the PR CI run fully incorporates the update from the resource.yaml in the collection folder. This ensures that we can fix failing static validation in a PR. With static validation passed all remote resources are resolved correctly. The updated RDF with the resolved URLs is deployed to gh-pages. This should ensure that fiel

[2022-03-23 19:58] #319 closed

[2022-04-06 14:24] #310 closed

[2022-04-06 14:25] FynnBe commented on #293
gh-support killed the workflow for me...

[2022-04-06 14:25] #293 closed

[2022-04-06 14:26] FynnBe commented on #54
we have test_summary.yaml files like [this one](https://github.com/bioimage-io/collection-bioimage-io/blob/gh-pages/rdfs/10.5281/zenodo.5869899/6321179/test_summary.yaml) now

[2022-04-06 14:26] #54 closed

[2022-04-06 14:28] FynnBe opened #386 "Add dynamic test that validates URLs"
especially for non-model resource that we don't dynamically test this could help avoid broken links

[2022-04-06 15:56] oeway commented on #386
What do you have in mind for dealing with broke links?

Not sure how to best deal with broken links, we may not want removing all the models when zenodo site break down. Generate some sort of error report might be enough. and since the CI only runs when there is new models, not sure whether it's useful for the website.

[2022-04-06 17:40] FynnBe commented on #386
- only here in CI
  I would not be so quick to take action on the website in case of a broken link, but the collection repo CI here should indicate this.
- regular checks
  We do not only run it at the very beginning for the zenodo PRs, also every time a new spec version is out (even a new post release). So we'll regularly reevaluate all resources.
- ignore 5xx status
  As we currently do when fet

[2022-04-20 08:00] oeway opened #390 "Link to default downloader if test passes"
I propose that we link the default bioengine downloader app for each consumer software if the corresponding tests passes in the test summary. This can be implemented by 1) add a field, e.g. `default_bioengine_app` in the config of each partner collection repo to define their default bioengine app; 2) link to the default downloader if the corresponding tests passes for the consumer.

Note the defau

[2022-04-20 08:02] oeway opened #391 "Some models do not have nicknames and animal icons"
@FynnBe Could you look into these models which doesn't have an animal icon? The deepimagej ones and also some on zenodo. For example: https://bioimage.io/#/?id=10.5281%2Fzenodo.5910854

[2022-04-20 08:16] oeway opened #392 "Add badges for test summary"
Would be nice to add a badge for each tested model.

It should generate the passed vs total tests, say `tests | 2/3`

The color of the badge should be changed accordingly, this can be done by set the `ext_type` field as `is_success` (all passes) `is-warning`  (some fails) `is-error` (all fails).

The following should be added into the badges field (an array of objects):
[code]
@FynnBe

[2022-04-20 09:37] FynnBe commented on #390
I like where this is going. I suppose each test has the potential to add a bioengine app. Then defaults can be chosen by each partner running the tests and even changed depending on test outcome.
all we would need to do is to gather them.

As it is really just linking resources, we could add a `links` field for each test summary and then add all those to the on the website...?

[2022-04-22 10:16] oeway opened #394 "Check availability of links"
It would be nice if we can check if a certain linked item exists for a resource item.

[2022-04-22 12:05] oeway opened #395 "Resolve cover image url for non-zenodo items"
It looks like the cover image url are not resolved if the model is not coming from zenodo.
 https://bioimage.io/#/?id=deepimagej%2F2dunetzerocostdl4mic

It would be nice if we can fix it even though we will have most of our models hosted on zenodo, it's a bit wired that only the urls for models are not resolved.

cc @FynnBe Any idea why?

[2022-04-22 12:20] oeway commented on #320
@FynnBe It seems the issue still exists:

https://bioimage.io/#/?type=application&id=hpa%2Fhpa-classification

We discussed this elsewhere as I remember, but I still don't understand why the collection name should have higher priority than the bioengine app name, can we fix this?

[2022-04-22 12:47] FynnBe commented on #320
this will fix it: https://github.com/CellProfiling/HPA-model-zoo/pull/74

The problem is that the resolution of imjoy apps is not (yet) part of the spec. And there are good reasons not to include it (mostly unecessary mixing of these two ways of writing metadata).
This needs more discussion. We might want to consider not to resolve imjoy apps at all or find another way to connect them to the spec

[2022-04-22 12:57] FynnBe commented on #395
I see why, that's a general bug, I'll fix it..

[2022-04-22 16:56] utterances-bot opened #396 "2D UNet Arabidopsis Ovules"
# 2D UNet Arabidopsis Ovules

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=unet&id=10.5281%2Fzenodo.6334383](https://bioimage.io/?tags=unet&id=10.5281%2Fzenodo.6334383)

[2022-04-22 19:08] FynnBe commented on #396
I'd assume the filters used in the network are 2d, while the inputs/outputs are 3d. @wolny should have some more insights...

[2022-04-22 19:09] constantinpape commented on #396
The model has a singleton z axis, this is the case for all 2d plantseg models.

[2022-04-27 12:49] oeway commented on #395
@FynnBe Could you please fix this issue, and perhaps the sorting as we discussed? These two things make the website appears to be broken at the moment.

[2022-04-27 12:54] FynnBe commented on #395
working on it still. should be done today

[2022-04-27 17:18] oeway commented on #320
@FynnBe Could you look into this too? It's urgent since many of the linked bioengine apps are broken at the moment. For example this one: https://bioimage.io/#/?id=10.5281%2Fzenodo.5910854  (Right now it doesn't run because of this issue).

IMO, any thing will have an actual impact on the user side should get higher priority. I know it's always good to have a clean solution, but for the end user,

[2022-04-27 18:48] FynnBe commented on #320
I did already:

My PR has not been merged yet, though...

[2022-04-27 19:01] FynnBe commented on #320
the problem here might be a different one... ?
looking into it `imjoy/HPA-Single-Cell` (
https://github.com/imjoy-team/bioimage-io-models/blob/29efaa3a123d5af0003789ffbfd6b9fab7f0885e/manifest.bioimage.io.yaml#L50) is included in the bioimageio collection here: https://github.com/bioimage-io/collection-bioimage-io/blob/804029d11a4f164c45b82d88280980bbcbeedb4f/collection.json#L1411

but the website

[2022-04-27 19:26] oeway commented on #320
The issue is that the type becomes collection: https://github.com/bioimage-io/collection-bioimage-io/blob/804029d11a4f164c45b82d88280980bbcbeedb4f/rdf.yaml#L662

I would say it's the same issue as the incorrect name.

[2022-04-27 19:38] FynnBe commented on #320
this part is a problem in https://github.com/deepimagej/models as many models are missing the `type: model` field. I know @xion16lm is already working on updating those.
There are some additional problems with the deepimagej collection. The workflow I added fails with various errors.
This needs to pass: https://github.com/deepimagej/models/actions/workflows/validate_collection.yaml
Then cover imag

[2022-04-27 19:39] FynnBe commented on #320
In fact for some correct deepimagej models the covers are visible (again?): https://bioimage.io/#/?partner=deepimagej&type=all&id=deepimagej%2Fmonuseg_digital_pathology_miccai2018

[2022-04-27 19:41] FynnBe commented on #320
@oeway In the mean time you can implement the sorting based on the "download_count" already. The "download_count" is now present (although it equals 1 for all resources for now. I'll update it asap)
e.g. https://github.com/bioimage-io/collection-bioimage-io/blob/8a7c93c4c5629a95b74d24a99c16776f8c06a30e/collection.json#L28

[2022-04-27 19:53] oeway commented on #320
There are some additional problems with the deepimagej collection. The workflow I added fails with various errors.

But if you check the yaml the all has model type, what do you mean?

In any case, the collection CI should resolve the relative cover url by their source url, no?

The issue is we cannot wait for all the models being uploaded, it may take another one or two weeks. And the website are

[2022-04-27 20:12] FynnBe commented on #320
yes, sorry, I need to elaborate a bit:
I did add it earlier to the "manifest" to fix it, but when fixing the issue with the `covers` I needed to be more rigorous. Now, if a collection includes an entry with `rdf_source` that file needs to be a valid rdf as well.
Here I propose to add those missing `type: model` lines (WIP, one by one...):
https://github.com/deepimagej/models/pull/43

Yes, exactly,

[2022-04-28 07:56] FynnBe commented on #391
fixed

[2022-04-28 07:56] #391 closed

[2022-04-28 08:49] oeway commented on #395
@FynnBe I noticed that the resolved URL for deepimagej is missing the subfolder at the moment:

For example: https://bioimage.io/#/?id=deepimagej%2F2dunetzerocostdl4mic

The cover image url (wrong): https://raw.githubusercontent.com/deepimagej/models/master/cover.png

It should be resolved to the subfolders.

[2022-05-04 08:43] esgomezm opened #406 "Download-url"
Hi,

We would like to parse this rdf.json from deepimagej to install models directly from the user interface but we need the `download_url` field for them to access to a zip that we are attaching with the model in Zenodo. Could it be possible to specify it in the model rdf or similar and render it in this rdf.json file for example?

https://github.com/bioimage-io/collection-bioimage-io/blob/187e46

[2022-05-04 09:02] FynnBe commented on #406
I suppose the issue is that you don't have that URL at the time of creating the zenodo record, right?
There might be a way to get the URL before finalizing the upload?
Otherwise, you could always add `download_url` here in the collection in the appropriate resource.yaml (example for resource.yaml: https://github.com/bioimage-io/collection-bioimage-io/blob/main/collection/10.5281/zenodo.5749843/res

[2022-05-04 09:06] FynnBe commented on #406
The cleanest way would be to use bioimageio.spec (I suppose with pyodide you can run this in a js env!?) to get the package content
https://github.com/bioimage-io/spec-bioimage-io/blob/fa68d18917e954e63dd0606ec086267d2588eaf2/bioimageio/spec/io_.py#L286-L290
and then use some javascript to actually create that package on the fly..

In full python you could use bioimageio.core:
either https://githu

[2022-05-04 09:21] oeway commented on #406
@FynnBe How about we allow relative path for `download_url` and you resolve it as you already did for other fields when generating the final URL?

[2022-05-04 09:36] FynnBe commented on #406
oh, true, a relative path totally do.. I'll check to make sure it would be resolved correctly

[2022-05-04 09:41] FynnBe commented on #406
we'd have to allow a Path for the `download_url` field then. I think it makes sense to enable this use case though

[2022-05-04 09:45] esgomezm commented on #406
Thank you Fynn for the quick anser!

Could I pass a relative path, same as for the attachments and let the webpage render a download url automatically?

[2022-05-04 09:47] esgomezm commented on #406
ups, sorry I just saw your comments! So yes, that's the idea.

https://github.com/bioimage-io/spec-bioimage-io/blob/fa68d18917e954e63dd0606ec086267d2588eaf2/bioimageio/spec/io_.py#L286-L290
and then use some javascript to actually create that package on the fly..

Yes, this is something we have in mind but it will require a longer effort to make it working properly, so that's why we were trying to

[2022-05-04 09:48] FynnBe commented on #406
this PR will implement it: https://github.com/bioimage-io/spec-bioimage-io/pull/439

[2022-05-04 09:50] esgomezm commented on #406
Thank you!

[2022-05-04 18:06] oeway opened #412 "The website is entirely down"
@FynnBe It looks like the recent changes breaks the entire thing:
<img width="1532" alt="Screen Shot 2022-05-04 at 8 05 27 PM" src="https://user-images.githubusercontent.com/478667/166774603-1bd2d2af-e93d-476a-bdde-357f7f7f7f2b.png">

Would be nice if we can fix this ASAP.

[2022-05-04 18:19] FynnBe commented on #412
yes, I am on it. sorry

[2022-05-04 18:20] FynnBe commented on #412
I tried the fast hacky fix -- it didn't work.. If I don't have things back to normal very soon I'll reset it to the state before...

[2022-05-04 19:27] FynnBe commented on #412
actually only CI had to finish running. it's all back now

[2022-05-04 20:03] FynnBe commented on #406
@esgomezm please give it a try, it should work now

[2022-05-04 20:31] oeway commented on #412
Hey, good that it's back! Thanks!

We need to get the deepimagej models back too.

[2022-05-05 13:43] FynnBe commented on #412
I think they are all back now, e.g. https://bioimage.io/#/?type=all&partner=deepimagej&id=deepimagej%2Fsmlm-deepimagej
Feel free to re-open if I am missing something

[2022-05-05 13:43] #412 closed

[2022-05-05 13:44] esgomezm commented on #406
not working in the web page :(
![Screenshot 2022-05-05 at 14 43 32](https://user-images.githubusercontent.com/43643518/166936488-8a47e774-19bf-4f56-a1f2-e6f44fefe8e5.png)

[2022-05-05 13:44] #396 closed

[2022-05-05 14:09] FynnBe commented on #406
looks like it is not running with the very lastest bioimageio.spec 0.4.5post13.
maybe you have an earlier version still chached in your browser or something?

Could you create a zenodo record manually for me to test with if the problem is in bioimageio.spec or in the uploader?

[2022-05-05 14:11] oeway opened #418 "Remaining issues to the website"
Hi @FynnBe It appears you have been making good progress on fixing the issues. I am not sure if it's because of the caching or we need to wait for more time for the changes to take effect, but here are the 3 remaining issues (same as before actually):

1. Some BioEngine Apps are missing: https://github.com/imjoy-team/bioimage-io-models/blob/1ef7f2950acd2fd62a9939beec5fe3ac392f44fd/manifest.bioimag

[2022-05-05 14:24] oeway commented on #412
Oh, sorry, wrong link, ignore that URL,

For example this one: https://github.com/deepimagej/models/blob/cdbf04f54784b645448b1b24d2b5a7a2e10fb4db/manifest.bioimage.io.yaml#L184-L191

[2022-05-05 15:23] FynnBe commented on #412
ok, I'm working on fixing it. I found the issue already. It needs some general imrovements...

[2022-05-06 12:17] FynnBe opened #419 "Question about BioEngine name vs id"
@oeway you had an assert to check that the RDF fields name and id match for application RDFs generated from imjoy plugins.
Due to overwriting the id at a later stage I removed that and added this warning instead:
https://github.com/bioimage-io/collection-bioimage-io/blob/527f18bac01ae15d4669b556ae889988061ffba2/scripts/utils.py#L295-L296

This warns about all applications, e.g. also
`UserWarning:

[2022-05-06 13:02] FynnBe commented on #418
1. fixed: https://bioimage.io/#/?type=application&id=imjoy%2Fhpa-single-cell
2. fixed: https://bioimage.io/#/?type=application&id=imjoy%2Fimagej.js
3. the collection RDF validation is now slightly stricter, so the deepimagej models gone again, because they don't adhere to the spec (missing `type: model`) This is a known problem and is fixed while uploading them to zenodo... otherwise we could fix

[2022-05-06 13:08] #418 closed, assigned to FynnBe

[2022-05-06 13:11] FynnBe commented on #406
@esgomezm please try again after the latest fixes 😇

[2022-05-07 19:58] constantinpape opened #421 "Create "generic" partner collection"
to host applications or other resources for partners that don't have a dedicated repo yet.
The first two things we want:
- application for stardist
- application for qupath

[2022-05-07 20:04] constantinpape opened #422 "Triton CI"
Implement CI for the triton server. (Probably in its own dedicated repo, using the same procedure to trigger the CI as with partner repos). The goal is to check for each model if they run, and with which weight format; because for tensorflow1 / keras models its very likely that only one of the two weight formats will work.

For indicate the preferred weight format per model we have two options:
-

[2022-05-08 19:39] oeway commented on #422
Hi, thanks for the summary, I have created a repo for the bioengine model runner: https://github.com/bioimage-io/bioengine-model-runner (I used the name bioengine-engine-runner instead of triton since the same docker container is meant to be used outside the triton server too).

I started to make docker container, and added tests for the triton model. Let's move on with the GH actions there.

[2022-05-08 19:40] oeway commented on #421
Let's use the previous repo for this: https://github.com/bioimage-io/bioimage-io-models

We can just modify the yaml file there.

[2022-05-08 19:47] oeway commented on #421
Done! Feel free to add the items there: https://github.com/bioimage-io/bioimage-io-models

[2022-05-09 09:20] oeway commented on #421
Saw that, looks good to me!

However, for the yaml file name, I think it would nice to still keep `bioimage.io` in they yaml name to have better identification of the file. I would rename the yaml file to something like `collection.bioimage.io.yaml` instead of `colleciton.yaml`.

[2022-05-11 11:28] oeway opened #426 "Incorrect bioengine app name"
Hi @FynnBe could you please check what happed to this application: https://bioimage.io/#/?type=application&id=hpa%2Fhpa-classification

Why the name is `HPA Collection`, I thought you fixed it already, is there anything we need to change in the collection itself?

[2022-05-11 11:29] oeway commented on #421
This has been fixed.

[2022-05-11 11:29] #421 closed

[2022-05-11 11:32] oeway commented on #419
This is required for the linking to work, an inconsistent name and id will causing linking to fail. With the current implementation, since we don't have the id defined in the plugin file, the bioengine app can only be indexed via its name, when a differet id is used in the `links` field, we won't be able to find the item.

[2022-05-11 12:48] oeway opened #429 "Prevent downloading all the resources in the netlify preview"
Currently, the netlify preview runs [run_main_ci_equivalent_local.py](https://github.com/bioimage-io/collection-bioimage-io/blob/main/scripts/run_main_ci_equivalent_local.py) but it appears that it downloading a lot of weights fields which should not be necessary for rendering the preview:
https://app.netlify.com/sites/collection-bioimage-io/deploys/627baba9567c960009289418#L1564

I suspended the

[2022-05-11 13:03] FynnBe commented on #426
it is not updated due to errors in the hpa collection.. please merge
https://github.com/CellProfiling/HPA-model-zoo/pull/76

the current errors are:
[code]

[2022-05-11 13:07] FynnBe commented on #426
as we have not yet implemented to write the documentation content to disk on the fly to make the spec valid I suggest we fix it manually for now.

[2022-05-11 14:16] FynnBe commented on #429
brings us back to the issue with `git worktree`.
I'll try to solve it by adding `git` to the requirements and running the script `with_state=True`...

[2022-05-11 15:02] FynnBe commented on #429
`get_raw_resource_description` should not download everything, but only the RDF.
(`core.get_resource_description` does download almost every; everything that would be included in the model package)

If we keep the state then the script does the closest to what an actual 'update collection' workflow run would do...

[2022-05-11 15:06] oeway commented on #426
Do you mean we create a documentation file manually and override it?

Can we merge this: https://github.com/bioimage-io/spec-bioimage-io/pull/451

[2022-05-11 15:28] FynnBe commented on #426
merged.

yes

[2022-05-12 13:54] FynnBe commented on #419
so the bioimage.io `id` field has to equal the imjoy pluging `name` field. but the value of the bioimage.io `name` field is irrelevant, correct?

[2022-05-12 13:59] oeway commented on #419
That's correct!

[2022-05-12 14:06] FynnBe commented on #419
then I will remove this warning 👍

[2022-05-13 21:01] oeway opened #437 "Better way for detecting changes in partner repo"
[The current way of forcing an update in the partner repo](https://github.com/imjoy-team/bioimage-io-resources/issues/10#issuecomment-1121420106) requires making changes to the collection repo, and also confusing  (e.g. I spent lots of time to figure out why the icons are not changed).

As I understand, it currently only detect changes from the manifest file, can we use the head commit hash instea

[2022-05-18 09:05] FynnBe commented on #437
yes, we probably should. the idea back then was that the `version` field could be used in the collection RDF entries to indicate changes. the bumping of the `version` field would imply a change in the file hash, which would be detected.
I suppose this workflow does not hold up to the reality of us ignoring RDF versions.

Maybe my initial answer to "how to trigger a partner collection reevaluation"

[2022-05-18 11:44] oeway commented on #437
Maybe try the GitHub api, which required 1 http request: https://stackoverflow.com/a/45727280

[2022-05-25 01:31] utterances-bot opened #445 "Pancreatic Phase Contrast Cell Segmentation (U-Net)"
# Pancreatic Phase Contrast Cell Segmentation (U-Net)

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=pancreatic&id=10.5281%2Fzenodo.5914248&type=model](https://bioimage.io/?tags=pancreatic&id=10.5281%2Fzenodo.5914248&type=model)

[2022-05-25 01:31] carlosuc3m commented on #445
the link for the h5 weights is broken (https://zenodo.org/api/files/2d92e820-1b25-40f5-a2af-3219df97d7f7/unet_pancreatic_cell_segmentation.h5)

[2022-05-25 10:52] FynnBe commented on #445
the file name is wrong. there is a `keras_model.h5` file in the record. (keras weights are not validated (yet), so we didn't notice this).
@iarganda could you please update the model accordingly?

[2022-05-25 12:33] oeway commented on #429
It looks like the CI in netlify is still trying to download the actual model and run testing.  I will need to disable it now to not eat up all of our build time on netlify:
https://app.netlify.com/sites/collection-bioimage-io/deploys/628e20a8a6292005937a58f3#L2478

We can enable it again until we fixed this.

[2022-05-28 06:48] constantinpape opened #446 "Automatic weight conversion through CI"
Discussed with @oeway yesterday: it would be good to include weight conversion into the CI, e.g. when a `pytorch_state_dict` model is uploaded which doesn't have `torchscipt` weights try to do the conversion and add the `torchscript` weights to the model.
If successful, we would then upload the weights to some dedicated S3 bucket and modify the rdf.yaml in the collection so that it has the addtion

[2022-05-31 08:22] esgomezm commented on #445
Please point to the maintainers! I have corrected the specifications. Now it should work. Also, why does the model download say ZeroCostDL4Mic if the model is not compatible with ZeroCostDL4Mic?

[2022-05-31 11:25] utterances-bot opened #448 "SMLM Density Map Estimation (DEFCoN)"
# SMLM Density Map Estimation (DEFCoN)

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=SMLM+Density+Map+Estimation+%28DEFCoN%29&id=deepimagej%2Fsmlmdensitymapestimationdefcon](https://bioimage.io/?tags=SMLM+Density+Map+Estimation+%28DEFCoN%29&id=deepimagej%2Fsmlmdensitymapestimationdefcon)

[2022-05-31 11:25] carlosuc3m commented on #448
Is it expected that this model only has tensorflow js weights and not the normal tf weights? @esgomezm @xion16lm

[2022-05-31 11:28] carlosuc3m commented on #448
Also in this model the sample inputs and test inputs are confused. It should be the other way around

[2022-05-31 11:41] utterances-bot opened #449 "Small Extracellular Vesicle TEM Segmentation (Fully Residual U-Net)"
# Small Extracellular Vesicle TEM Segmentation (Fully Residual U-Net)

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?type=all&tags=deepimagej%2Cmodels&id=deepimagej%2Ffrunet2dsevsegmentation](https://bioimage.io/?type=all&tags=deepimagej%2Cmodels&id=deepimagej%2Ffrunet2dsevsegmentation)

[2022-05-31 11:41] carlosuc3m commented on #449
In this model test inputs and sample inputs are confused. They should be the other way around @esgomezm @xion16lm

[2022-05-31 15:28] carlosuc3m commented on #449
Also the pre-processing specified in the input (scale_range) is not exactly the same as what is in the macro

[2022-06-01 14:52] utterances-bot opened #450 "Skin lesions classification"
# Skin lesions classification

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?type=model&tags=deepimagej%2Cmodels&id=deepimagej%2Fskinlesionclassification](https://bioimage.io/?type=model&tags=deepimagej%2Cmodels&id=deepimagej%2Fskinlesionclassification)

[2022-06-01 14:52] carlosuc3m commented on #450
The weights in this model are not correctly defined. Key pytorch_script is no longer valid, it should be torchscript @esgomezm @xion16lm

[2022-06-01 17:12] esgomezm commented on #445
@carlosuc3m can you check whether it works?

[2022-06-01 17:18] oeway commented on #448
Hi, yes, I think we can add more weight formats!

[2022-06-02 12:28] carlosuc3m commented on #445
I just checked the model and it does not work on the BioEngine. I guess it is because of the incorrect link in the yaml file, the source should be pointing to the correct file @esgomezm @oeway

[2022-06-08 00:07] esgomezm commented on #445
@carlosuc3m it should work now! I have just updated the model manually in zenodo because the updater does not update the rdf.yaml file correctly in the zenodo repository. @oeway I remember this was already a problem a while ago and seems that it's still not working properly. Any idea?

[2022-06-08 10:29] carlosuc3m opened #451 "Cannot access raw rdf.yaml or rdf.json collection files in the gh-pages branch due to a security error"
Weird error that does not let me access the rdf.yaml or rdf.json files in the gh-pages branch because a security error.
It seems to be something related to a missing certificate or something like that.
Cannot access https://raw.githubusercontent.com/bioimage-io/collection-bioimage-io/gh-pages/collection.json
Seems to be this error:
https://support.mozilla.org/en-US/kb/error-codes-secure-websites?r

[2022-06-08 10:35] #451 closed

[2022-06-08 12:04] carlosuc3m commented on #445
it still does not work. The Bioimage.io collections rdf.yaml files keep pointing towards the incorrect keras weight source link. This model runs on keras on the BioEngine, so the keras link should not be broken and should point to a correct Keras model @esgomezm

[2022-06-08 13:56] esgomezm commented on #445
Hi I cannot help with this one. The RDF file in the zenodo repository is correct and points to the keras model. There's something when updating the model that seems to be broken as it does not update correctly the model specifications. @oeway is probably not able to fix at the moment. @FynnBe do you know how to solve this?

[2022-06-08 15:17] esgomezm commented on #448
Hi there! I've tried updating the model but it asks me to upload a new model. @oeway would you mind updating it? Here you can download it: https://we.tl/t-ASaJlqpCDR
Otherwise, I can upload a new model. Thank you!

[2022-06-09 11:17] utterances-bot opened #452 "Mitochondria Segmentation for EM"
# Mitochondria Segmentation for EM

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=mitochondria&id=10.5281%2Fzenodo.5874841&type=model](https://bioimage.io/?tags=mitochondria&id=10.5281%2Fzenodo.5874841&type=model)

[2022-06-09 11:17] esgomezm commented on #452
Hi! The axes of the tiff file are transposed (256x32x256) so it needs to be rotated before processing it

[2022-06-10 07:20] constantinpape commented on #452
Hey @esgomezm,
thanks for checking this out. I just updated the model and the problem should be fixed. Could you maybe download the latest version to confirm? (Then I could also update it for the other models where we have similar issues.)

[2022-06-15 19:15] utterances-bot opened #454 "PlatynereisEMnucleiSegmentationBoundaryModel"
# PlatynereisEMnucleiSegmentationBoundaryModel

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?id=10.5281%2Fzenodo.6028097](https://bioimage.io/?id=10.5281%2Fzenodo.6028097)

[2022-06-15 19:15] esgomezm commented on #454
Hi there! This model also has the tiff file transposed

[2022-06-15 19:27] utterances-bot opened #455 "MitochondriaEMSegmentationBoundaryModel"
# MitochondriaEMSegmentationBoundaryModel

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?type=model&id=10.5281%2Fzenodo.5874841](https://bioimage.io/?type=model&id=10.5281%2Fzenodo.5874841)

[2022-06-15 19:27] esgomezm commented on #455
Cover image broken

[2022-06-15 19:31] esgomezm commented on #452
It's good now! Thank you!

[2022-06-15 20:19] constantinpape commented on #452
Thanks for checking

[2022-06-15 20:19] #452 closed

[2022-06-15 20:19] constantinpape commented on #454
Same as #452, now that this one is fixed I will look into replacing the other broken tifs

[2022-06-15 20:20] constantinpape commented on #455
Works fine for me:
![image](https://user-images.githubusercontent.com/4263537/173919759-4e7c6868-2ed4-4529-abe3-3d5b3854f727.png)

[2022-06-16 13:32] FynnBe commented on #455
for me too. As the cover image is hosted on zenodo (https://zenodo.org/api/files/ac8ecde9-bafd-4c2c-9ede-0f4a47077d31/cover.png) maybe it was a problem on their side...

[2022-07-07 13:43] esgomezm commented on #455
The cover image works for me but now the sample tif files given as examples are missing one of the channels. I can only see the segmented boundaries of the input image

[2022-07-13 14:35] esgomezm opened #467 "Pull request is not created HeLa DIC Cell Segmentation (U-Net)"
Hi there, I just uploaded this model to the BMZ but seems that there's some problem in creating the PR in the collection.

The model:
https://zenodo.org/record/6827059

See the problem with creating the PR:
https://github.com/bioimage-io/collection-bioimage-io/actions/runs/2663527207

@FynnBe @oeway

[2022-07-13 14:53] oeway opened #468 "Send email to the maintainer"
In the weekly meeting, @esgomezm suggested that we send an email to the maintainer with the links to the PR created, so they can keep track of it. I thought the maintainer will be tagged in the PR too, but it seems they cannot get an email from github either.

@FynnBe Maybe we can use an action to send the email together with the PR creation?

[2022-07-13 20:18] FynnBe commented on #468
Often no maintainer is specified. If so I was assuming that github would notify the user also via e-mail (maybe depending on their github settings)

@constantinpape you have been tagged by the bot, did you get a notification?

Either way, I wouldn't be opposed to adding an optional email field for the maintainer (and author) and setup our own email notification.

[2022-07-14 06:50] constantinpape commented on #468
Yes, for me this always worked.

[2022-07-14 07:32] esgomezm commented on #468
The last time, I specified the maintainer and GitHub user and didn't receive an email about the model failing (https://github.com/bioimage-io/collection-bioimage-io/actions/runs/2663527207). It's true that in the last case it didn't even create the PR. Maybe that's the reason, but even though a contributor should be able to find out if there's any action failing or any problem with the model

[2022-07-14 14:20] FynnBe commented on #468
ah, I think there is still a bug in the bioimage.io uploader. it os dropping the github_user fields!
constantin uploads directly to zenodo I suppose...

[2022-07-14 14:26] FynnBe commented on #467
looks like we somehow hit the limit of 15 pr requests (with 13 open PRs)... this difference is maybe due to multiple new versions of the same resources...

[2022-07-14 14:28] FynnBe commented on #467
[code]

[2022-07-14 14:33] oeway commented on #468
The uploader should have been fixed a while ago. In fact, we checked over the meeting that the maintainer field in the PR has the @esgomezm listed but no email.

[2022-07-14 14:58] FynnBe commented on #468
I suppose one needs to "watch" this repository (although you probably do that, no? @esgomezm )..
maybe adding an email field gives us more control...

[2022-07-14 17:38] esgomezm commented on #468
I do but any new one contributing to it, may not do it. Also, the PR does not occur immediately so you need to wait until the the system refresh the content

[2022-07-18 08:45] FynnBe commented on #468
the CI is already triggered via the bioimage.io uploader, so the delay is not too long (max 5 min).
with a @ mention any user is notified. you do not have to watch the repo.
![image](https://user-images.githubusercontent.com/15139589/179475037-ddfb6ed6-a100-441c-a2e6-2dbd44f57082.png)

as all the following discussion takes place on github and github useer accounts tend to be more persistent than (

[2022-07-18 11:53] constantinpape commented on #468
Yeah, I think having both would be best, i.e. if the maintainer provides a mail address we also send a short mail to it with the link to the relevant PR.

[2022-07-19 17:47] esgomezm commented on #467
Ok, then what do you suggest?

[2022-07-19 17:54] oeway commented on #467
I think we should try to merge existing PRs, the current ones are stuck because of a CI problem, not the problem itself, so I would perhaps go ahead and merge them.

cc @constantinpape

[2022-07-21 09:00] FynnBe opened #469 "some tensorflow versions not available in conda"
required tensorflow (version) is not available through conda...
[code]

_Originally posted by @FynnBe in https://github.com/bioimage-io/collection-bioimage-io/issues/441#issuecomment-1191223842_

[2022-07-21 09:15] FynnBe commented on #469
I suggest we use pip to install any tensorflow 1 dependencies (given the tensorflow verison is only specified via `tensorflow_version` and not through a `pip::requirements.txt` or `conda::environment.yaml`

[2022-08-30 20:18] esgomezm commented on #445
Hi there! @oeway I'm trying to load this model using the bioimageio.core and still have the same problem: the system does not update the link to the keras weights. It still points to https://zenodo.org/api/files/2d92e820-1b25-40f5-a2af-3219df97d7f7/unet_pancreatic_cell_segmentation.h5

Any idea about how to solve this one?

[2022-10-05 15:29] utterances-bot opened #481 "NIH 3T3 Fibroblast Phase Contrast Segmentation (Usiigaci-Mask R-CNN)"
# NIH 3T3 Fibroblast Phase Contrast Segmentation (Usiigaci-Mask R-CNN)

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?type=all&id=deepimagej%2Fusiigaci&tags=usii](https://bioimage.io/?type=all&id=deepimagej%2Fusiigaci&tags=usii)

[2022-10-05 15:29] FynnBe commented on #481
this model does not work as expected. it is linked through the deepimagej manifest. We will remove it there and update/fix this model on zenodo for which entry there already exists a PR: https://github.com/bioimage-io/collection-bioimage-io/pull/480 into the bioimage.io collection

[2022-10-05 16:29] esgomezm commented on #481
I have removed it already form dij repo so it shouldn't appear in the collection

[2022-10-10 09:39] FynnBe opened #482 "deletion of partner resources"
as encountered in https://github.com/bioimage-io/collection-bioimage-io/issues/481 we may delete resources that were linked in partner collections.

In this case, should they just disappear (resulting in invalid old links) or should we add a placeholder?
In this particular case (model on zenodo and in partner collection) it would make sense to refer to the remaining (zenodo) model card...

I think

[2022-10-10 09:40] FynnBe commented on #481
ah, the bioimageio collection does not support 'deletion' yet... I made an issue to discuss how to proceed [here](https://github.com/bioimage-io/collection-bioimage-io/issues/482)

[2022-10-10 10:09] esgomezm commented on #482
Hey there,

Not sure technically what's the best way to go, but I thought that the collection workflow processed the yaml file completely each time it's compiled. So if a model "suddenly disappears" from the yaml, it will not be displayed in the next round.

[2022-10-10 14:28] FynnBe commented on #482
almost. we do keep state. however, how we solve this technically does not imply what we want.
but yes, we can simply drop removed resources. I think this would be best. Maybe everyone was expecting this anyway I suppose..
I'll implement it like that. As an example, this will break this link: https://bioimage.io/#/?type=all&utterances=1a2565da59cc97568a382308zgepWORi306OLMNNaA6XhejLxk9hOXnATEr2YHP%

[2022-10-11 09:14] utterances-bot opened #484 "Neuron Segmentation in EM (Membrane Prediction)"
# Neuron Segmentation in EM (Membrane Prediction)

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?id=10.5281%2Fzenodo.5874741](https://bioimage.io/?id=10.5281%2Fzenodo.5874741)

[2022-10-11 09:14] carlosuc3m commented on #484
This model still has the sample_input.tif and sample_output.tif saved with incorrect dimensions.  The Z and X dimensions are interchanged. The conversion from .npy to .tif was corrected at https://github.com/bioimage-io/core-bioimage-io-python/pull/275

[2022-10-11 09:22] carlosuc3m commented on #484
Also zenodo links take surprisingly long, the downloader seems to be doing nothing

[2022-10-11 10:55] carlosuc3m commented on #484
It now works better. It seems that the problem was on zenodo. It would be interesting to notify problems with the connection or zenodo.

[2022-10-11 19:39] FynnBe commented on #484
do you mean to zenodo or when using the bioimageio.core library?

[2022-10-12 07:56] FynnBe commented on #482
#483 now marks partner resources as deleted, they will not show up in the rdf.json anymore and thus not render on the website, but on the gh-pages there will still be a `resource.yaml` under `partner_collection` with `status=deleted`. Once in a while we might reset gh-pages; then these would dissappear completely. similarly the version specific rdf.yaml files will stay on gh-pages until a reset.

[2022-10-12 07:56] #482 closed

[2022-10-12 09:53] carlosuc3m commented on #484
"To zenodo" yess, sorry for the typo.

[2022-10-13 15:16] utterances-bot opened #486 "HPA Cell Segmentation (DPNUnet)"
# HPA Cell Segmentation (DPNUnet)

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=HPA+Cell+Segmentation+%28DPNUnet%29&id=10.5281%2Fzenodo.6200635&type=model](https://bioimage.io/?tags=HPA+Cell+Segmentation+%28DPNUnet%29&id=10.5281%2Fzenodo.6200635&type=model)

[2022-10-13 16:00] utterances-bot opened #487 "N2V SEM Demo"
# N2V SEM Demo

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?type=model&tags=fiji%2Fn2vsemdemo&id=fiji%2Fn2vsemdemo](https://bioimage.io/?type=model&tags=fiji%2Fn2vsemdemo&id=fiji%2Fn2vsemdemo)

[2022-10-13 16:00] carlosuc3m commented on #487
The [download_url link](https://github.com/bioimage-io/fiji-bioimage-io/releases/download/0.3.1/n2v-sem-demo.zip) is broken

[2022-10-13 16:14] carlosuc3m commented on #448
The zip model specified by the [download_url field](https://zenodo.org/record/4608442/files/SMLM_Density%20Map_Estimation_%28DEFCoN%29.bioimage.io.model.zip) contains an rdf.yaml file with errors (the 'attachament' field is wrong). That yaml file is not the same as the yaml file shown in the model card

[2022-10-13 16:31] carlosuc3m commented on #448
Also it still only has the tf_js weights specified in the model card

[2022-10-13 16:39] utterances-bot opened #488 "2D UNet Arabidopsis Apical Stem Cells"
# 2D UNet Arabidopsis Apical Stem Cells

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?type=all&tags=2D+UNET+ARABIDOPSIS+APICAL+STEM+CELLS&id=10.5281%2Fzenodo.6334881](https://bioimage.io/?type=all&tags=2D+UNET+ARABIDOPSIS+APICAL+STEM+CELLS&id=10.5281%2Fzenodo.6334881)

[2022-10-13 16:39] carlosuc3m commented on #488
I think we might have already discussed this, but could this model contain sample tiffs and the torchscript weights to be able to run it in Java based softwares and in the BioEngine?

[2022-10-13 16:47] constantinpape commented on #488
cc @wolny

[2022-10-14 11:12] utterances-bot opened #489 "Glioblastoma Phase Contrast Cell Segmentation (U-Net)"
# Glioblastoma Phase Contrast Cell Segmentation (U-Net)

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=deepimagej&id=deepimagej%2Funet2dglioblastomasegmentation](https://bioimage.io/?tags=deepimagej&id=deepimagej%2Funet2dglioblastomasegmentation)

[2022-10-14 11:12] carlosuc3m commented on #489
THe [download_url](https://zenodo.org/record/4155785/files/deepimagej_u-net_glioblastoma_segmentation.zip) contains a model with an obsolete model.yaml

[2022-10-14 12:07] utterances-bot opened #490 "PlatynereisEMcellsSegmentationBoundaryModel"
# PlatynereisEMcellsSegmentationBoundaryModel

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=PlatynereisEMcellsSegmentationBoundaryModel&id=10.5281%2Fzenodo.6028280](https://bioimage.io/?tags=PlatynereisEMcellsSegmentationBoundaryModel&id=10.5281%2Fzenodo.6028280)

[2022-10-14 12:07] carlosuc3m commented on #490
The sample_output_0.tif does not correspond to the image that results of executing the model. It is the output plus a mask in another channel. HOwever, there is no post-processing specified in the yaml

[2022-10-14 12:09] carlosuc3m commented on #454
Still the same

[2022-10-14 12:21] carlosuc3m commented on #455
The output sample tif still only has one channel instead of the two produced

[2022-10-14 12:21] constantinpape commented on #454
I won't have any time in the foreseeable future to work on this. I think a much more sustainable solution would be reading the .npy files in java (it is a very simple file format)

[2022-10-14 12:35] carlosuc3m commented on #450
Still the same issue

[2022-10-14 12:49] carlosuc3m commented on #454
Are not the tif files generated automatically when a model is uploaded to the bioimage.io from the npy?

[2022-10-14 13:09] constantinpape commented on #454
No, this is not done automatically in the uploader. You can try to automatically convert in `bioimageio.core` when creating the model, but I am still not sure if we have implemented a converter that works reliable for all cases there.

[2022-10-15 05:59] oeway opened #491 "URGENT: Partner logos disappeared"
@FynnBe Your recent changes to the collection repo removed the partner config (logo, background etc.) this cause issues on the website, all the partners loges are gone etc.

For reference, this is how the partner field should look like: https://github.com/bioimage-io/collection-bioimage-io/blob/20189e7d3e5ce5164fd1f87a38dc3036fc0700b6/rdf.yaml#L2459-L2477

And this how it looks right now: https://

[2022-10-16 08:40] FynnBe commented on #491
hi @oeway , good that you noticed so quickly! it's fixed now:
https://github.com/bioimage-io/collection-bioimage-io/commit/6611b56aaea622565213aed5cb3bc6b15a059480

[2022-10-16 08:40] #491 closed

[2022-10-22 13:22] wolny commented on #488
sry I'm still not back from my break and don't have my laptop with me, but what's the issue here? is it the conda env for deepimagej?

[2022-11-03 14:58] constantinpape opened #501 "Add documentation to the preview.zip"
I just went to the model review process for #499. While doing this I noticed that the documentation is not added to the zip file that is provided by the `preview` button. It would be very helpful to add it, so that whoever reviews the model can check that the documentation is sufficient easily.

[2022-11-08 15:35] utterances-bot opened #506 "CebraNET Cellular Membranes in Volume SEM"
# CebraNET Cellular Membranes in Volume SEM

Bioimage.io -- an AI model repository for deep learning.

[https://bioimage.io/?tags=electron-microscopy&id=10.5281%2Fzenodo.7274275&type=model](https://bioimage.io/?tags=electron-microscopy&id=10.5281%2Fzenodo.7274275&type=model)

[2022-11-08 17:11] constantinpape commented on #506
What task exactly do you want to solve?

[2022-11-08 17:21] ved-sharma commented on #506
I want to outline the mitochondria and its internal membranes (cristae), then calculate the mitochondria area and cristae lengths.

[2022-11-08 21:54] constantinpape commented on #506
I see. We have a few mitochondria models: https://bioimage.io/#/?tags=mitochondria.
And some of them work for 2d data. But we don't have anything for cristate directly.
I think there are a few options:
- use a mitochondria model to segment the mitos, do some post-processing per mitochondria to get the cristae
- produce fake 3d data and see if it would work with this model
- ask @jhennies if he cou

[2022-11-09 08:56] #501 closed

[2022-11-10 10:27] jhennies commented on #506
Hi Ved,
I would second Constantin's suggestions, in principle you could copy your 2d data to make a stack of 64 images (which would then be all equal. Then you could test the model to see if it in principle gives you what you would require.
I would only do this for a proof of principle though.